<footer class="site-footer">

  <div class="container wrapper">

    <h2 class="footer-heading">Footer</h2>

    <div class="row footer-col-wrapper">
      <div class="one.column footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="one.column footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
