<header role="banner" class="site-header" id="top">
  <div class="container">
    <nav>
      <ul>
        <li class="menu-site-title"><a class="" href="{{site.baseurl}}/index.html" title="Home">{{ site.title }}</a></li>
        {% for link in site.data.navigation %}
          {% unless page.exclude %}
            {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% elsif link.url contains 'localhost:' %}
                {% assign domain = site.baseurl %}
              {% else %}
                {% assign domain = site.url %}
            {% endif %}
            <li><a class="page-link" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
          {% endunless %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
