.site-header {
	margin-bottom: 2rem;
}

.page-content {
	margin-bottom: 2rem;
}

.site-title {
	font-weight: 500;
	text-shadow: .1em .1em rgba(0, 0, 0, 0.3);
}

.post-list li {
	list-style: none;
}

.site-footer {
	margin: 0 auto;
	padding: 2rem;	
	background: $dark-grey;

	li {
		list-style: none;
	}
}

footer {
	p,
	span {
		color: $white;
	}
}

.footer-heading {
	color: $white;
}

.social-icons {
	margin: 1rem;
	text-align: center;
}

.fa-2x {
	padding: 3px;
}

.copyright{
	margin: 1rem;
}

@include media-query($bp-larger-than-phablet) {
	.footer-menu {
		float: right;
	}
}

@include media-query($bp-larger-than-tablet) {
	.site-header {
		padding: 2rem;
	}

	.divider {
		border-right: 1px solid $border-color;	
	}
}
