
.site-title {
    margin-top: 25px;
    margin-bottom: 0;
}

.navigation-wrapper {
    margin: 25px 0;
    text-align: center;

    ul {
        padding: 0;
        margin: 0 auto;
        border: 1px solid $light-grey;
        list-style: none;
    }

    li {
        padding: 0;
        margin: 0 auto;
        display: block;                
        width: 10rem;
    }

    li:hover {
        background: $link-color;        
    }

    li a {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
        color: $dark-grey;
    }

    li:hover a {
        color: $white;
        font-weight: 700;
    }
}

@include media-query($bp-larger-than-phablet) {

    .navigation-wrapper {
        text-align: center;

        ul {
            padding: 0;
            margin: 0;
            border: 1px solid $light-grey;
            list-style: none;
            float: right;        
        }

        li {
            padding: 0;
            margin: 0;
            display: inline-block;                
            width: 10rem;
        }

        li:hover {
            background: $link-color;        
        }

        li a {
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            color: $dark-grey;
        }

        li:hover a {
            color: $white;
            font-weight: 700;
        }
    }

}
