---
layout: page
title: Blog
---

<div class="container">
  <ul class="post-list">
    {% for post in paginator.posts %}
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <li>
        <time class="post-meta" itemprop="dateCreated" datetime="{{ post.date }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" rel="bookmark" title="Permanent Link to {{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html }} <a href="{{ post.url | prepend: site.baseurl }}" class="more" title="read more">read more</a></p>
      </li>
    </article>
    {% endfor %}
  </ul>
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <p class="prevLink"><a href="{{ site.baseurl }}/blog/" class="previous">newer entries</a></p>
      {% else %}
        <p class="prevLink"><a href="{{ site.baseurl }}/blog/page{{ paginator.previous_page }}" class="previous">newer entries</a></p>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
        <p class="nextLink"><a href="{{ site.baseurl }}/blog/page{{ paginator.next_page }}" class="next">older entries</i></a></p>
    {% endif %} 
  </div>
</div>
